APP_NAME="Notification Service"
APP_ENV=local
APP_KEY=base64:/rCSV/SVSbbzf1uI+rwU35OU2tXUIXcEQCLmk4zdwGw=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Database (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=notification_service
DB_USERNAME=sail
DB_PASSWORD=password

# Очереди и Кэш
QUEUE_CONNECTION=redis
CACHE_STORE=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379

# Сессии
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

# Почта
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM_ADDRESS="no-reply@service.com"
MAIL_FROM_NAME="${APP_NAME}"

# Хранилище
FILESYSTEM_DISK=local

# Прочее
BCRYPT_ROUNDS=12
SAIL_XDEBUG_MODE=off