includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    level: 5

    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: routes/console.php

        # Исключаем ошибку PDO
        - '#Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql#'

        # Исключаем бесконечный цикл в команде-демоне (архитектурная особенность)
        -
            message: '#While loop condition is always true#'
            path: app/Console/Commands/ProcessOutboxRelayCommand.php        

        # Исключаем skipLocked(), так как метод существует в БД, но не описан в контрактах Eloquent
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder.*::skipLocked\(\)#'

        # Исключаем lock(), так как PHPStan не видит его в интерфейсе Cache Repository
        - '#Call to an undefined method Illuminate\\Contracts\\Cache\\Repository::lock\(\)#'

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
